.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  min-height: 300px;
  max-width: 100%;
  width: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
.website-logo {
  height: 30px;
  max-height: 50px;
  width: 120px;
  max-width: 180px;
}
.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label-text {
  color: #475569;
  font-size: 12px;
  font-weight: 500;
}
.input-box {
  height: 30px;
  width: 100%;
  color: #64748b;
  font-size: 12px;
  border: 1px solid #94a3b8;
  padding: 12px;
  outline: none;
}
.show-password-section {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.show-password-label-text {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}
.login-btn {
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.error-msg {
  color: #ff0b37;
  font-size: 14px;
  margin-top: -10px;
}
