* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.popup-content {
  width: auto !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}
